﻿@model HMS.Areas.Dashboard.ViewModels.AccomodationTypesActionModel

@if (Model != null)
{
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Create</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="actionForm">
                <div class="form-group">
                    <label >Name</label>
                    <input type="text" class="form-control" name="Name"  placeholder="Enter Accomodation type Name">
                   
                </div>
                <div class="form-group">
                    <label >Description</label>
                    <textarea class="form-control" name="Description" placeholder="Enter Accomodation type description ">

</textarea>
                </div>
               
               
            </form>
            <div class="errorDiv">

            </div>

        </div>
        <div class="modal-footer">
            <button  type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="actionButton" type="button" class="btn btn-primary">Save changes</button>
        </div>
    </div>


}
<script>
    $("#actionButton").click(function () {
        $.ajax({
            url: '@Url.Action("Action","AccomodationTypes")',
            type: "post",
            data: $("#actionForm").serialize()
        })
            .done(function (response) {
                if (response.Success) {
                    location.reload();
                }
                else {
                    $(".errorDiv").html(response.Message)
                }
            });
    });
</script>