﻿
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col col-lg-12">
        <h2>AccomodationTypes</h2>
        <hr />
    </div>

</div>

<div class="row mb-3">
    <div class="col col-lg-12">
        <div class="row">
    <div class="col col-lg-12">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
            <div class="input-group-append" id="button-addon4">
                <button class="btn btn-outline-primary" type="button">Search</button>
                <button class="btn btn-outline-secondary" type="button">Reset</button>
                <button id="createButton" class="btn btn-outline-success" type="button" data-toggle="modal" data-target="#actionModal">Create</button>

            </div>
        </div>
        
    </div>

</div>
    </div>

</div>

<div class="row">
    <div class="col col-lg-12">
        @{ Html.RenderAction("Listing");
        }
        
    </div>

</div>

<div class="modal fade" id="actionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       
    </div>
</div>
<script>
    $("#createButton").click(function () {
        $.ajax({
            url: '@Url.Action("Action","AccomodationTypes")',

        })
            .done(function (response) {
                $("#actionModal .modal-dialog").html(response);
            });
    });
</script>